# Turn rewrite engine on
Options +FollowSymlinks -Indexes
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^/?&                                                public/index.php [nc,qsa,L]

RewriteRule ^user/?$                                            public/index.php?class=user&action=none [nc,qsa,L]
RewriteRule ^user/([0-9]+)/?$                                   public/index.php?class=user&action=none&id=$1 [nc,qsa,L]
RewriteRule ^user/sign/?$                                       public/index.php?class=user&action=sign [nc,qsa,L]
RewriteRule ^user/auth/?$                                       public/index.php?class=user&action=auth [nc,qsa,L]
RewriteRule ^user/auth/([a-zA-Z0-9]+)/?$                        public/index.php?class=user&action=auth&token=$1 [nc,qsa,L]
RewriteRule ^user/([0-9]+)/book/?$                              public/index.php?class=user&action=book&id=$1 [nc,qsa,L]
RewriteRule ^user/stats/?$                                      public/index.php?class=user&action=stats [nc,qsa,L]
RewriteRule ^user/([0-9]+)/stats/?$                             public/index.php?class=user&action=stats&id=$1 [nc,qsa,L]
RewriteRule ^user/ranking/?$                                    public/index.php?class=user&action=ranking [nc,qsa,L]
RewriteRule ^user/ranking/([0-9]+)/?$                           public/index.php?class=user&action=ranking&buffer=$1 [nc,qsa,L]

RewriteRule ^bookshelf/?$                                       public/index.php?class=bookshelf&action=none [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/?$                              public/index.php?class=bookshelf&action=none&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/stats/?$                                 public/index.php?class=bookshelf&action=stats [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/stats/?$                        public/index.php?class=bookshelf&action=stats&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/book/?$                         public/index.php?class=bookshelf&action=book&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/book/([0-9]+)/?$                public/index.php?class=bookshelf&action=book&id=$1&book_id=$2 [nc,qsa,L]

RewriteRule ^bookshelf/request/?$                               public/index.php?class=bookshelf&action=request&admin=0 [nc,qsa,L]
RewriteRule ^bookshelf/request/admin?$                          public/index.php?class=bookshelf&action=request&admin=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/?$                      public/index.php?class=bookshelf&action=request&id=$1&admin=0 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/admin/?$                public/index.php?class=bookshelf&action=request&id=$1&admin=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/admin/accept/?$         public/index.php?class=bookshelf&action=request&id=$1&admin=1&accepted=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/admin/reject/?$         public/index.php?class=bookshelf&action=request&id=$1&admin=1&accepted=0 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/vote/?$                 public/index.php?class=bookshelf&action=vote&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/vote/approve/?$         public/index.php?class=bookshelf&action=vote&id=$1&approved=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/vote/disapprove/?$      public/index.php?class=bookshelf&action=vote&id=$1&approved=0 [nc,qsa,L]

RewriteRule ^book/?$                                            public/index.php?class=book&action=none [nc,qsa,L]
RewriteRule ^book/([0-9]+)/?$                                   public/index.php?class=book&action=none&id=$1 [nc,qsa,L]
RewriteRule ^book/stats/?$                                      public/index.php?class=book&action=stats [nc,qsa,L]
RewriteRule ^book/([0-9]+)/stats/?$                             public/index.php?class=book&action=stats&id=$1 [nc,qsa,L]

RewriteRule ^.*$                                                public/index.php [nc,qsa,L]