# Turn rewrite engine on
Options +FollowSymlinks -Indexes
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^/$                                                 index.php [nc,qsa,L]

RewriteRule ^user/?$                                            index.php?class=user&action=none [nc,qsa,L]
RewriteRule ^user/([0-9]+)/?$                                   index.php?class=user&action=none&id=$1 [nc,qsa,L]
RewriteRule ^user/sign/?$                                       index.php?class=user&action=sign [nc,qsa,L]
RewriteRule ^user/auth/?$                                       index.php?class=user&action=auth [nc,qsa,L]
RewriteRule ^user/auth/([a-zA-Z0-9]+)/?$                        index.php?class=user&action=auth&token=$1 [nc,qsa,L]
RewriteRule ^user/([0-9]+)/book/?$                              index.php?class=user&action=book&id=$1 [nc,qsa,L]
RewriteRule ^user/stats/?$                                      index.php?class=user&action=stats [nc,qsa,L]
RewriteRule ^user/([0-9]+)/stats/?$                             index.php?class=user&action=stats&id=$1 [nc,qsa,L]
RewriteRule ^user/ranking/?$                                    index.php?class=user&action=ranking [nc,qsa,L]
RewriteRule ^user/ranking/([0-9]+)/?$                           index.php?class=user&action=ranking&buffer=$1 [nc,qsa,L]

RewriteRule ^bookshelf/?$                                       index.php?class=bookshelf&action=none [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/?$                              index.php?class=bookshelf&action=none&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/stats/?$                                 index.php?class=bookshelf&action=stats [nc,qsa,L]
RewriteRule ^bookshelf/book/search/?$                           index.php?class=bookshelf&action=search [nc,qsa,L]
RewriteRule ^bookshelf/book/search/(.+)/?$                      index.php?class=bookshelf&action=search&like=$1 [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/stats/?$                        index.php?class=bookshelf&action=stats&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/book/?$                         index.php?class=bookshelf&action=book&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/([0-9]+)/book/([0-9]+)/?$                index.php?class=bookshelf&action=book&id=$1&book_id=$2 [nc,qsa,L]

RewriteRule ^bookshelf/request/?$                               index.php?class=bookshelf&action=request&admin=0 [nc,qsa,L]
RewriteRule ^bookshelf/request/token/([a-zA-Z0-9]+)/?$          index.php?class=bookshelf&action=request&admin=0&token=$1 [nc,qsa,L]
RewriteRule ^bookshelf/request/admin/?$                         index.php?class=bookshelf&action=request&admin=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/?$                      index.php?class=bookshelf&action=request&id=$1&admin=0 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/admin/?$                index.php?class=bookshelf&action=request&id=$1&admin=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/admin/accept/?$         index.php?class=bookshelf&action=request&id=$1&admin=1&accepted=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/admin/reject/?$         index.php?class=bookshelf&action=request&id=$1&admin=1&accepted=0 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/vote/?$                 index.php?class=bookshelf&action=vote&id=$1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/vote/approve/?$         index.php?class=bookshelf&action=vote&id=$1&approved=1 [nc,qsa,L]
RewriteRule ^bookshelf/request/([0-9]+)/vote/disapprove/?$      index.php?class=bookshelf&action=vote&id=$1&approved=0 [nc,qsa,L]

RewriteRule ^book/?$                                            index.php?class=book&action=none [nc,qsa,L]
RewriteRule ^book/([0-9]+)/?$                                   index.php?class=book&action=none&id=$1 [nc,qsa,L]
RewriteRule ^book/stats/?$                                      index.php?class=book&action=stats [nc,qsa,L]
RewriteRule ^book/([0-9]+)/stats/?$                             index.php?class=book&action=stats&id=$1 [nc,qsa,L]

RewriteRule ^.*$                                                index.php [nc,qsa,L]