<?php

namespace Futurologeek\SmartCrossing;


class Credentials
{
    const MYSQL_HOST            = "";
    const MYSQL_LOGIN           = "";
    const MYSQL_PASSWORD        = "";
    const MYSQL_DB              = "";

    const DEV_MYSQL_HOST        = "";
    const DEV_MYSQL_LOGIN       = "";
    const DEV_MYSQL_PASSWORD    = "";
    const DEV_MYSQL_DB          = "";
}